
<div class="card-container-status_job_fields">

  <nb-card class="job-card" *ngFor="let card of cardData">
    <nb-card-header>{{ card.header }}</nb-card-header>
    <nb-card-body class="job-card-body">
      <div *ngIf="card.header === 'avediskread'">
        seperat Angezeigt
      </div>
      <div *ngIf="card.header !== 'avediskread'">
        {{ card.content }}
      </div>
    </nb-card-body>
  </nb-card>
</div>

<div class="card-row">
  <div class="card-col">
    <nb-card size="medium">
      <nb-card-header>avediskread</nb-card-header>
      <div echarts theme = "dark" [options]="avediskreadchartOption" class="carspeed-chart"></div>
    </nb-card>
  </div>
</div>
