
<div class="card-container-status_job_fields">

  <nb-card class="job-card" *ngFor="let card of cardData">
    <nb-card-header>{{ card.header }}</nb-card-header>
    <nb-card-body class="job-card-body">
        {{ card.content }}
    </nb-card-body>
  </nb-card>
</div>

<div class="card-row">
  <div class="card-col">
    <nb-card>
      <nb-card-header>avediskread / avediskwrite</nb-card-header>
      <div echarts [options]="avediskread_writechartOption" class="avediskread/wirte-chart"></div>
    </nb-card>
  </div>
</div>
