
<div class="card-container-status_job_fields">

  <!-- static job status fileds-->
    <nb-card size="tiny">
      <nb-card-header>user</nb-card-header>
      <nb-card-body>This is the content of Card 1</nb-card-body>
    </nb-card>
  
    <nb-card size="tiny">
      <nb-card-header>jobname</nb-card-header>
      <nb-card-body>This is the content of Card 2</nb-card-body>
    </nb-card>

    <nb-card size="tiny">
      <nb-card-header>jobid / job_id</nb-card-header>
      <nb-card-body>This is the content of Card 3</nb-card-body>
    </nb-card>

    <nb-card size="tiny">
      <nb-card-header>ntasks</nb-card-header>
      <nb-card-body>This is the content of Card 4</nb-card-body>
    </nb-card>

    <nb-card size="tiny">
      <nb-card-header>allocnodes</nb-card-header>
      <nb-card-body>This is the content of Card 5</nb-card-body>
    </nb-card>

    <!--dynamic/possible dynamic job status fields-->

  <nb-card size="tiny">
    <nb-card-header>avecpu</nb-card-header>
    <nb-card-body>This is the content of avecpu</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>mincpu</nb-card-header>
    <nb-card-body>This is the content of mincpu</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>mincpunode</nb-card-header>
    <nb-card-body>This is the content of mincpunode</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>mincputask</nb-card-header>
    <nb-card-body>This is the content of mincputask</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>avecpufreq</nb-card-header>
    <nb-card-body>This is the content of avecpufreq</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>avediskread</nb-card-header>
    <nb-card-body>This is the content of avediskread</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>avediskwrite</nb-card-header>
    <nb-card-body>This is the content of avediskwrite</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxdiskread</nb-card-header>
    <nb-card-body>This is the content of maxdiskread</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxdiskreadnode</nb-card-header>
    <nb-card-body>This is the content of maxdiskreadnode</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxdiskreadtask</nb-card-header>
    <nb-card-body>This is the content of maxdiskreadtask</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxdiskwrite</nb-card-header>
    <nb-card-body>This is the content of maxdiskwrite</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxdiskwritenode</nb-card-header>
    <nb-card-body>This is the content of maxdiskwritenode</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxdiskwritetask</nb-card-header>
    <nb-card-body>This is the content of maxdiskwritetask</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>avevmsize</nb-card-header>
    <nb-card-body>This is the content of avevmsize</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxvmsize</nb-card-header>
    <nb-card-body>This is the content of maxvmsize</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxvmsizenode</nb-card-header>
    <nb-card-body>This is the content of maxvmsizenode</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxvmsizetask</nb-card-header>
    <nb-card-body>This is the content of maxvmsizetask</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>consumedenergy</nb-card-header>
    <nb-card-body>This is the content of consumedenergy</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>avepages</nb-card-header>
    <nb-card-body>This is the content of avepages</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxpages</nb-card-header>
    <nb-card-body>This is the content of maxpages</nb-card-body>
  </nb-card>
 
  <nb-card size="tiny">
    <nb-card-header>maxpagesnode</nb-card-header>
    <nb-card-body>This is the content of maxpagesnode</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxpagestask</nb-card-header>
    <nb-card-body>This is the content of maxpagestask</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>averss</nb-card-header>
    <nb-card-body>This is the content of averss</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxrss</nb-card-header>
    <nb-card-body>This is the content of maxrss</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxrssnode</nb-card-header>
    <nb-card-body>This is the content of maxrssnode</nb-card-body>
  </nb-card>

  <nb-card size="tiny">
    <nb-card-header>maxrsstask</nb-card-header>
    <nb-card-body>This is the content of maxrsstask</nb-card-body>
  </nb-card>

</div>